record(bo, "$(prefix):$(field)")
{
	field(DESC, "$(desc)")
	field(DTYP, "BusAddress")
	field(OUT,  "#C0S0@VMTG0+$(off),$(boio)")
	field(ZNAM, "$(znam)")
	field(ONAM, "$(onam)")
	field(MASK, "$(mask)")
	field(HIGH, "$(high)")
	field(PINI, "$(pini"))
}
